@font-face {
  font-family: "Gotham";
  src: url("../fonts/subset-Gotham-Black.eot");
  src: url("../fonts/subset-Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Gotham-Black.woff2") format("woff2"), url("../fonts/subset-Gotham-Black.woff") format("woff"), url("../fonts/subset-Gotham-Black.ttf") format("truetype"), url("../fonts/subset-Gotham-Black.svg#Gotham-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 10px;
}

.text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.tItle {
  font-family: "Gotham", sans-serif;
  text-transform: uppercase;
}

.header {
  padding: 25px 0;
}

#checkbox-menu, .toggle {
  display: none;
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.mainLogo {
  width: 50px;
  height: 50px;
  background-image: url("../images/CompanyLogo.png");
  background-position: center;
  background-repeat: no-repeat;
}

.menu {
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
}

.link {
  font-size: 12px;
  text-decoration: none;
  color: #868686;
  text-transform: uppercase;
  padding: 12px 15px;
}
.link:hover {
  color: #fff;
  background-color: #ffbb42;
  border-radius: 3px;
  transition-duration: 0.2s;
}

.menuItem {
  padding: 5px;
}

.someTitle {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 15px;
  font-weight: 900;
  background-color: darkred;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.someTitle:hover {
  background-color: red;
}

.infoGrab {
  background: linear-gradient(180deg, #709dca 86%, white 14%);
  text-align: center;
  padding-top: 110px;
  margin-bottom: 105px;
}

.firstTitle {
  color: #fff;
  font-size: 35px;
}

.firstT {
  color: #fff;
  margin-bottom: 33px;
  font-weight: 900;
}

.classForIcons {
  display: flex;
  margin: 10px 10px 10px 0px;
  align-items: center;
  position: relative;
}

.inputText {
  font-family: "Open Sans", sans-serif;
  width: 281px;
  height: 46px;
  color: #a9a9a9;
  padding-left: 40px;
  border: none;
  border-radius: 2px;
  z-index: 1;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 67px;
}
.form.theBottomOne {
  align-items: center;
}

.icon {
  color: #a9a9a9;
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: 15px;
  z-index: 2;
  font-family: "FontAwesome";
}

.buttonOfRequest {
  width: 211px;
  height: 46px;
  background: #ffbb42;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #fff;
}
.buttonOfRequest:hover {
  background-color: #f5b23f;
  transition-duration: 0.2s;
}

.laptopImage {
  width: 648px;
  height: 344px;
  margin-bottom: 24px;
  background-image: url(../images/laptop.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.laptopImage_container {
  display: flex;
  justify-content: center;
}

.threeCircles {
  display: flex;
  justify-content: center;
}

.circle {
  width: 12px;
  height: 11px;
  border: 2px solid #dedfe0;
  border-radius: 50%;
  margin-right: 10px;
}
.circle:hover {
  border: 2px solid #1ca8dd;
  transition-duration: 0.1s;
}

.theme {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 93px;
}

.secondTitle {
  color: #394b50;
  font-size: 30px;
}

.secondT {
  line-height: 22px;
  color: #394b50;
}

.miniArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.miniArticle {
  max-width: 508px;
  margin-bottom: 80px;
  margin-right: 40px;
  align-self: baseline;
}
.miniArticle.even {
  margin-right: 0;
}

.miniArticle_title {
  display: flex;
  align-items: center;
}

.iconOfArticle {
  font-size: 50px;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  text-shadow: 2px 2px 0 #709dca, 2px -2px 0 #709dca, -2px 2px 0 #709dca, -2px -2px 0 #709dca, 2px 0px 0 #709dca, 0px 2px 0 #709dca, -2px 0px 0 #709dca, 0px -2px 0 #709dca;
  color: #FFFFFF;
  font-family: "FontAwesome";
}
.iconOfArticle:hover {
  text-shadow: 2px 2px 0 #f6772c, 2px -2px 0 #f6772c, -2px 2px 0 #f6772c, -2px -2px 0 #f6772c, 2px 0px 0 #f6772c, 0px 2px 0 #f6772c, -2px 0px 0 #f6772c, 0px -2px 0 #f6772c;
}

.miniTitle {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  color: #394b50;
  margin-left: 30px;
}

.miniText {
  font-size: 13px;
  color: #a2a2a2;
  line-height: 22px;
  width: 427px;
  margin-left: 82px;
}

.aboutUs {
  background-color: #ffbb42;
  background-image: url("../images/aboutUsImage.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50% 100%;
  padding-top: 164px;
  overflow: hidden;
  padding-bottom: 174px;
}

.toLeft {
  display: flex;
  justify-content: flex-end;
}

.aboutUsContent {
  display: flex;
  max-width: 508px;
  flex-direction: column;
}

.aboutUsTitle {
  color: #fff;
  align-self: baseline;
  font-size: 30px;
  margin-bottom: 28px;
}

.aboutUsText {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  max-width: 505px;
  margin-bottom: 33px;
}

.readMoreBtn {
  text-transform: uppercase;
  width: 145px;
  height: 46px;
  color: #fff;
  align-self: baseline;
  background-color: #ffbb42;
  border: 2px solid #e7ad48;
  border-radius: 2px;
}
.readMoreBtn:hover {
  background-color: #e7ad48;
  transition-duration: 0.2s;
}

.price {
  background-color: #e7edf3;
  text-align: center;
  padding-top: 137px;
  padding-bottom: 194px;
  margin-bottom: 155px;
}

.priceTitle {
  color: #394b50;
  font-size: 30px;
}

.planCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
}

.planCard {
  max-width: 380px;
  height: 441px;
  background-color: #fff;
  color: #818b95;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #ccd5df;
  border-radius: 3px;
  padding-top: 57px;
  margin: 5px;
}
.planCard:hover {
  background-color: #709dca;
  color: #fff;
  border: none;
  transition-duration: 0.4s;
  transform: scaleY(1.2);
}
.planCard:hover .cardContent {
  transform: scaleY(0.829);
}
.planCard:hover .money {
  color: #fff;
}

.basicPlan {
  font-size: 25px;
  margin-bottom: 30px;
}

.money {
  font-size: 60px;
  color: #ffbb42;
  font-weight: 700;
}

.perWhat {
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 33px;
}

.bord {
  border-top: 1px solid #e2e9f0;
  width: 329px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 40px;
}

.customc {
  margin-bottom: 24px;
}

.startBtn {
  width: 131px;
  height: 42px;
  background-color: #ffbb42;
  border: none;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.startBtn:hover {
  background-color: #f5b23f;
  transition-duration: 0.2s;
}
.startBtn.finalBtn {
  width: 218px;
  height: 46px;
  font-size: 14px;
}

.pricetext {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #a3b1b6;
}

.themePrice {
  margin-bottom: 80px;
}

.howItWContent {
  text-align: center;
  margin-bottom: 112px;
}

.howItWTitle {
  color: #394b50;
  font-size: 30px;
}

.howItWText {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #5d6c70;
}

.infoCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 91px;
}

.infoCard {
  text-align: center;
  width: 213px;
  z-index: 0;
  margin: 20px;
}

.theIcon {
  font-size: 72px;
  background: #fff;
  text-shadow: 2px 2px 0 #709dca, 2px -2px 0 #709dca, -2px 2px 0 #709dca, -2px -2px 0 #709dca, 2px 0px 0 #709dca, 0px 2px 0 #709dca, -2px 0px 0 #709dca, 0px -2px 0 #709dca;
  color: #fff;
  margin-bottom: 100px;
}

.infoTitle {
  font-weight: 700;
  color: #394b50;
  font-size: 20px;
  text-transform: uppercase;
}

.infoText {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  color: #868686;
}

.doubleArrow {
  position: absolute;
  width: 128px;
  height: 33px;
  background-image: url("../images/upperLine.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
.doubleArrow.firstAr {
  top: -20px;
  left: 220px;
}
.doubleArrow.secondAr {
  background-image: url("../images/downLine.png");
  top: 85px;
  left: 530px;
}
.doubleArrow.thirdAr {
  top: -20px;
  right: 220px;
}

.howItWBtn_container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.howItWBtn {
  width: 165px;
  height: 46px;
}

.happyClients {
  background-color: #ffbb42;
  padding-top: 141px;
  padding-bottom: 160px;
  margin-bottom: 154px;
}

.happyCl {
  text-align: center;
}

.happyTitle {
  font-size: 30px;
  color: #fff;
}

.happyText {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  margin-bottom: 58px;
  color: #fff;
}

.clientCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.clientCard {
  max-width: 567px;
  background-color: #fff;
  text-align: left;
  padding-top: 43px;
  padding-left: 30px;
  margin-bottom: 5px;
  position: relative;
}
.clientCard_main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.clientPhoto {
  width: 121px;
  height: 121px;
  background-image: url("../images/theGirl.png");
  background-repeat: no-repeat;
  margin-right: 30px;
}
.clientPhoto.secondPh {
  background-image: url("../images/withoutFace.png");
}
.clientPhoto.thirdPh {
  background-image: url("../images/blackJakcet.png");
}
.clientPhoto.forthPh {
  background-image: url("../images/theBoy.png");
}

.clientComment {
  font-size: 13px;
  line-height: 22px;
  font-family: "Open Sans";
  color: #7b7b7b;
  width: 344px;
  margin-top: 8px;
}

.quotes {
  width: 11px;
  height: 9px;
  background-image: url("../images/quotes.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 55px;
  left: 165px;
}

.quotesU {
  width: 11px;
  height: 9px;
  background-image: url("../images/quotesUp.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 55px;
  bottom: 100px;
}

.aboutClient {
  margin-left: 153px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  color: #99a9ae;
}
.aboutClient .clientName {
  color: #f6772c;
}

.lastSect {
  margin-bottom: 68px;
}

.lastSectContent {
  text-align: center;
  margin-bottom: 48px;
}

.lastSectTitle {
  color: #394b50;
  font-size: 30px;
}

.lastSectText {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  color: #868686;
}

.inputText.lastSection {
  border: 1px solid #cbcbcb;
  width: 308px;
}

.worldMap {
  background-image: url("../images/worldMap.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  padding-top: 40px;
}

.oneMore {
  padding-bottom: 57px;
  border-bottom: 1px solid #e3e7ec;
}

.infoCircle {
  width: 279px;
  height: 292px;
  background-image: url("../images/bigCircle.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 60px;
  padding-left: 69px;
  text-align: center;
  margin: 0 auto;
}

.textInCircle {
  color: #868686;
  font-family: "Open Sans";
  line-height: 24px;
  width: 142px;
  font-size: 13px;
}
.textInCircle .addres {
  color: #fff;
  font-size: 15px;
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}
.textInCircle .textMail {
  color: #ffbb42;
}

.logoOneMore {
  width: 50px;
  height: 50px;
  background-image: url("../images/CompanyLogo.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.intheFooter {
  color: #394b50;
  font-size: 13px;
  text-align: center;
  float: none;
  margin-bottom: 30px;
}

.someTel {
  text-align: center;
  font-size: 23px;
  color: #394b50;
  margin-bottom: 23px;
}

.socialIcons {
  text-align: center;
  margin-bottom: 53px;
}

.socials {
  margin-right: 17px;
  color: #709dca;
  font-size: 18px;
  line-height: 24.99px;
}
.socials:hover {
  color: #ffbb42;
}

.copyright {
  background-color: #709dca;
  color: #fff;
  font-size: 13px;
  font-family: "Open Sans";
  line-height: 24px;
  text-align: center;
  padding: 19px 0;
}

.footerSide {
  justify-content: center;
}

@media (max-width: 1165px) {
  .header {
    padding: 0;
  }

  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    color: #000;
    background-color: #ffbb42;
    transition: all 0.1s linear;
  }
  .toggle:hover {
    background-color: #d3a900;
  }

  .touch {
    display: none;
  }

  #checkbox-menu:checked + label .touch .menuItem {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked + label .touch {
    display: block;
    height: 355px;
  }

  .menuList {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 0;
  }

  .menuItem {
    visibility: hidden;
    align-self: center;
    width: 95%;
    margin-bottom: 10px;
  }
  .menuItem:first-child {
    margin-top: 10px;
  }

  .infoGrab {
    padding-top: 55px;
  }

  .laptopImage {
    background-size: inherit;
  }

  .form {
    flex-direction: column;
    align-items: center;
  }

  .classForIcons {
    margin: 10px 0;
  }

  .miniArticles {
    flex-direction: column;
    align-content: center;
  }

  .miniArticle {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .aboutUs {
    background-size: cover;
    padding: 0px;
  }

  .wrapper.AU_adaptive {
    background-color: rgba(255, 187, 66, 0.45);
    padding: 30px 0;
  }

  .toLeft {
    justify-content: center;
  }

  .price {
    padding: 80px 0;
    margin-bottom: 75px;
  }

  .themePrice {
    margin-bottom: 40px;
  }

  .howItWContent {
    margin-bottom: 80px;
  }

  .doubleArrow {
    display: none;
  }

  .infoCards {
    justify-content: space-evenly;
  }

  .theIcon {
    margin: 40px;
  }

  .howItWBtn_container {
    margin-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .infoGrab {
    padding-bottom: 50px;
    margin-bottom: 0px;
  }

  .laptopImage_container {
    display: none;
  }

  .threeCircles {
    display: none;
  }

  .intheFooter {
    display: none;
  }

  .mainLogo {
    margin: 0px auto 10px auto;
  }

  .menuItem {
    margin: auto;
    margin-bottom: 10px;
  }

  .theme {
    margin-bottom: 63px;
  }

  .miniArticles {
    margin-bottom: 30px;
  }

  .miniArticle {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .miniArticle_title {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .iconOfArticle {
    text-align: center;
    margin-bottom: 10px;
  }

  .miniText {
    font-size: 11px;
    max-width: 300px;
    text-align: center;
    margin-left: 0;
  }

  .miniTitle {
    margin-left: 0;
  }

  .aboutUsContent {
    text-align: center;
  }

  .aboutUsTitle {
    align-self: center;
  }

  .readMoreBtn {
    margin: auto;
  }

  .planCard {
    max-width: 300px;
  }
  .planCard:hover {
    transform: scaleY(1.1);
  }

  .bord {
    width: 300px;
  }
}
@media (max-width: 525px) {
  .quotes {
    display: none;
  }

  .quotesU {
    display: none;
  }

  .clientCards {
    flex-direction: column;
  }

  .clientCard {
    min-width: 300px;
    padding: 15px 10px;
  }
  .clientCard_main-content {
    flex-direction: column;
    align-items: center;
  }

  .clientComment {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .clientPhoto {
    margin: 0;
  }

  .aboutClient {
    margin: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
